@default-text-colour: #3C4244;
@highlight-text-colour: #ff146e;

body, html {
    height: 100%;
    margin: 0;
}

body, html {

    a {
        text-decoration: none;
        color: @highlight-text-colour;

        &:hover {
            text-shadow: 0px 0px 1px rgba(255, 20, 110, 0.5);
            filter: dropshadow(color=@highlight-text-colour, offx=0, offy=0);
        }
    }

    -webkit-box-shadow:  0px 0px 1000px 100px rgba(200, 200, 200, 0.1);
    box-shadow:  0px 0px 1000px 100px rgba(200, 200, 200, 0.1);

    color: @default-text-colour;
    font-family: sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

    .header {
        margin: 0;
        padding-top: 50px;
        text-align: left;

        h1 {
            font-weight: bold;

            span.left {
                color: @default-text-colour;
            }

            span.right {
                color: #CCC;
            }
        }
    }

    .hidden {
        display: none;
    }

    form a {
        cursor: pointer;
        position: absolute;
        right: 255px;
        top: 23%;
        font-size: 1.5em;
    }

    #help {

        font-family: 'Over the Rainbow', cursive;
        color: #aaa;

        .right {
            font-size: 16pt;

            float: right;
            margin-right: 45px;
            margin-top: -25px;

            img {
                vertical-align: super;
                margin-left: 10px;
                margin-top: -10px;
            }
        }

        .left {
            p {
                margin: 5px 0px 5px 15px;

                ::before {
                    content: '\25CB';
                    vertical-align: super;
                    margin-right: 5px;
                    font-size: 0.5em;
                }

            }

            width: 40%;
            float: left;
            div {
                width: 250%;
            }

            text-align: left;

            code {
                vertical-align: middle;
                padding: 0.2em;
                background: whiteSmoke;
                border-radius: 7px;
                border: 1px solid #CCC;
                font-size: 1.1em;
                color: @highlight-text-colour;
                opacity: 0.7;
            }
        }

        opacity: 1;
        z-index: 999999;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &.hide {
            z-index: -10000;
            opacity: 0;
            height: 0;

            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;

            * {
                height: 0;
            }
        }
    }

    #suggestions-wrapper {
        -webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.1);

        ::before {
            position: absolute;
            margin-top: -37px;
            margin-left: 37px;
            content: '\25B2';
            color: #ccc;
            font-size: 1.5em;
        }

        .triangle::before {
            position: absolute;
            margin-top: -31px;
            margin-left: -9px;
            content: '\25B2';
            color: #fff;
        }

        height: 14em;
        opacity: 1;
        z-index: 999999;

        -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

        .content {
            height: inherit;
            overflow: hidden!important;
        }

        &.hide {
            ::after {
                display: none;
            }

            opacity: 0;
            height: 0;

            -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            -moz-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            -ms-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            -o-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        position: absolute;
        top: 28.5%;
        right: 198px;
        padding: 1em;
        border: 2px solid #ccc;
        border-radius: 15px;
        width: 100px;

        background: #fff;

        a {
            font-size: 10pt;
            display: block;
            margin: 2px;
            padding: 5px;
        }
    }

    #expression {
        background: #fff;
        color: @default-text-colour;
        width: 100%;
        font-size: 20pt;

        border-radius: 15px;
        border: 5px solid #DDD;

        padding: 7px;

        outline: 0;
        &:active, &:focus {
            outline: 0;
        }

        &.error {
            border-color: rgba(255, 155, 155, 0.9);
            -webkit-box-shadow:  0px 0px 10px 10px rgba(255, 155, 155, 0.2);
            box-shadow:  0px 0px 10px 10px rgba(255, 155, 155, 0.2);
        }


    }

    #table-list {
        padding-top: 45px;

        min-height: 57%;
        max-height: 57%;

        &:hover {
            overflow-y: auto;
        }

        overflow-y: hidden;
        overflow-x: hidden;

        /* Table container */
        .generated-table {

            &.hide {
                opacity: 0;
                -webkit-transition: opacity 1s ease;
                -moz-transition: opacity 1s ease;
                -ms-transition: opacity 1s ease;
                -o-transition: opacity 1s ease;
                transition: opacity 1s ease;
            }

            margin: 0;

            width: 100%;

            padding: 20px 10px;

            border-top: 1px dashed #CCC;

            span {
                cursor: pointer;
                padding: 5px;
                border-radius: 5px;
                background: whiteSmoke;
                border: 1px solid #ccc;
                float: left;
                margin: 0;
                color: @highlight-text-colour;

                &:hover {
                    ::after {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.4);
                        color: #EEE;
                        padding: 5px;
                        border-radius: 5px;
                       // content: "Copy to clipboard";
                        margin-left: 10px;
                        margin-top: -20px;
                        font-size: 10pt;
                        font-weight: normal;
                    }
                }
            }

            a.remove {
                margin-right: 20px;
                float: right;
                color: @highlight-text-colour!important;
                text-decoration: none;
            }

            table {

                margin: 50px auto 0;

                border-collapse: collapse;

                th {
                    padding: 0.2em 1em;
                    border-right: 1px solid #ccc;

                    &:last-child {
                        border-right: none;
                        border-left: 2px solid #ccc;
                    }
                }

                tr.odd {
                    background: whiteSmoke;
                }

                td {
                    font-size: smaller;
                    text-transform: uppercase;

                    font-weight: bold;
                    padding: 0.2em 1em;
                    text-align: center;
                    vertical-align: middle;

                    border-right: 1px solid #ccc;

                    &:last-child {
                        border-left: 2px solid #ccc;
                        border-right: none;
                    }
                }

                thead {
                    border-bottom: 1px solid #ccc;
                }
            }
        }
    }

    .footer {
        font-size: 8pt;
    }
}