body, html {
  height: 100%;
  margin: 0;
}
body, html {
  -webkit-box-shadow: 0px 0px 1000px 100px rgba(200, 200, 200, 0.1);
  box-shadow: 0px 0px 1000px 100px rgba(200, 200, 200, 0.1);
  color: #3c4244;
  font-family: sans-serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
body a, html a {
  text-decoration: none;
  color: #ff146e;
}
body a:hover, html a:hover {
  text-shadow: 0px 0px 1px rgba(255, 20, 110, 0.5);
  filter: dropshadow(color=#ff146e, offx=0, offy=0);
}
body .header, html .header {
  margin: 0;
  padding-top: 50px;
  text-align: left;
}
body .header h1, html .header h1 {
  font-weight: bold;
}
body .header h1 span.left, html .header h1 span.left {
  color: #3c4244;
}
body .header h1 span.right, html .header h1 span.right {
  color: #CCC;
}
body .hidden, html .hidden {
  display: none;
}
body form a, html form a {
  cursor: pointer;
  position: absolute;
  right: 255px;
  top: 23%;
  font-size: 1.5em;
}
body #help, html #help {
  font-family: 'Over the Rainbow', cursive;
  color: #aaa;
  opacity: 1;
  z-index: 999999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body #help .right, html #help .right {
  font-size: 16pt;
  float: right;
  margin-right: 45px;
  margin-top: -25px;
}
body #help .right img, html #help .right img {
  vertical-align: super;
  margin-left: 10px;
  margin-top: -10px;
}
body #help .left, html #help .left {
  width: 40%;
  float: left;
  text-align: left;
}
body #help .left p, html #help .left p {
  margin: 5px 0px 5px 15px;
}
body #help .left p::before, html #help .left p::before {
  content: '\25CB';
  vertical-align: super;
  margin-right: 5px;
  font-size: 0.5em;
}
body #help .left div, html #help .left div {
  width: 250%;
}
body #help .left code, html #help .left code {
  vertical-align: middle;
  padding: 0.2em;
  background: whiteSmoke;
  border-radius: 7px;
  border: 1px solid #CCC;
  font-size: 1.1em;
  color: #ff146e;
  opacity: 0.7;
}
body #help.hide, html #help.hide {
  z-index: -10000;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body #help.hide *, html #help.hide * {
  height: 0;
}
body #suggestions-wrapper, html #suggestions-wrapper {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  height: 14em;
  opacity: 1;
  z-index: 999999;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 28.5%;
  right: 198px;
  padding: 1em;
  border: 2px solid #ccc;
  border-radius: 15px;
  width: 100px;
  background: #fff;
}
body #suggestions-wrapper::before, html #suggestions-wrapper::before {
  position: absolute;
  margin-top: -37px;
  margin-left: 37px;
  content: '\25B2';
  color: #ccc;
  font-size: 1.5em;
}
body #suggestions-wrapper .triangle::before, html #suggestions-wrapper .triangle::before {
  position: absolute;
  margin-top: -31px;
  margin-left: -9px;
  content: '\25B2';
  color: #fff;
}
body #suggestions-wrapper .content, html #suggestions-wrapper .content {
  height: inherit;
  overflow: hidden!important;
}
body #suggestions-wrapper.hide, html #suggestions-wrapper.hide {
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
body #suggestions-wrapper.hide::after, html #suggestions-wrapper.hide::after {
  display: none;
}
body #suggestions-wrapper a, html #suggestions-wrapper a {
  font-size: 10pt;
  display: block;
  margin: 2px;
  padding: 5px;
}
body #expression, html #expression {
  background: #fff;
  color: #3c4244;
  width: 100%;
  font-size: 20pt;
  border-radius: 15px;
  border: 5px solid #DDD;
  padding: 7px;
  outline: 0;
}
body #expression:active,
html #expression:active,
body #expression:focus,
html #expression:focus {
  outline: 0;
}
body #expression.error, html #expression.error {
  border-color: rgba(255, 155, 155, 0.9);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 155, 155, 0.2);
  box-shadow: 0px 0px 10px 10px rgba(255, 155, 155, 0.2);
}
body #table-list, html #table-list {
  padding-top: 45px;
  min-height: 57%;
  max-height: 57%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* Table container */

}
body #table-list:hover, html #table-list:hover {
  overflow-y: auto;
}
body #table-list .generated-table, html #table-list .generated-table {
  margin: 0;
  width: 100%;
  padding: 20px 10px;
  border-top: 1px dashed #CCC;
}
body #table-list .generated-table.hide, html #table-list .generated-table.hide {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
body #table-list .generated-table span, html #table-list .generated-table span {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background: whiteSmoke;
  border: 1px solid #ccc;
  float: left;
  margin: 0;
  color: #ff146e;
}
body #table-list .generated-table span:hover::after, html #table-list .generated-table span:hover::after {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #EEE;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: -20px;
  font-size: 10pt;
  font-weight: normal;
}
body #table-list .generated-table a.remove, html #table-list .generated-table a.remove {
  margin-right: 20px;
  float: right;
  color: #ff146e !important;
  text-decoration: none;
}
body #table-list .generated-table table, html #table-list .generated-table table {
  margin: 50px auto 0;
  border-collapse: collapse;
}
body #table-list .generated-table table th, html #table-list .generated-table table th {
  padding: 0.2em 1em;
  border-right: 1px solid #ccc;
}
body #table-list .generated-table table th:last-child, html #table-list .generated-table table th:last-child {
  border-right: none;
  border-left: 2px solid #ccc;
}
body #table-list .generated-table table tr.odd, html #table-list .generated-table table tr.odd {
  background: whiteSmoke;
}
body #table-list .generated-table table td, html #table-list .generated-table table td {
  font-size: smaller;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2em 1em;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #ccc;
}
body #table-list .generated-table table td:last-child, html #table-list .generated-table table td:last-child {
  border-left: 2px solid #ccc;
  border-right: none;
}
body #table-list .generated-table table thead, html #table-list .generated-table table thead {
  border-bottom: 1px solid #ccc;
}
body .footer, html .footer {
  font-size: 8pt;
}
